
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 10;
    background-color: #f4f4f4;
}
.header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}
.main-container {
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}
.scheme-section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-header {
    text-align: center;
    background-color: #2980b9;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.scheme-container {
    margin-bottom: 30px;
}
.section-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}
.content {
    margin: 10px 0;
}
.button {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #2ecc71;
} 
.marquee {
    width: 100%;
    background: #222;
    color: rgb(255, 7, 7);
    font-size: 18px;
    padding: 10px 0;
    text-size-adjust: 24px;
    font-weight: bold;
}
.marquee-text{
    color: #e74c3c;
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}
footer {
    background: linear-gradient(135deg, #6f42c1, #e83e8c);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
/* Make the navbar fixed at the top */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f8f9fa; /* Light background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds shadow */
}
